.d{
    display: flex;
    width: 658px;
    height: 698px;
}

.tex{
  text-align: center;
     color:coral;
 padding: 143px 104px;
}

.g{
padding-left:114px ;

}


.j{
  
    padding-left: 114px;
    
}

a{

color: white;
padding: 5px;


}

.u{
    width: 90px;
    height: 100px;
}